---
ColumnLimit: 120
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
PointerAlignment: Left
EmptyLineBeforeAccessModifier: Always
EmptyLineAfterAccessModifier: Always
InsertNewlineAtEOF: true
IndentCaseLabels: true